<html>
<head>
  <title>XProduct Admin</title>
  <meta name="decorator" content="atl.admin">
  $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body>
<form id="admin" class="aui">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="text">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="text" id="time" name="time" class="text">
  </div>
  <div>
    <input type="submit" value="Save" class="button">
  </div>
</form>
</body>
</html>